@{
    ViewData["Title"] = "Secret Claim Write";
}
<h1>@ViewData["Title"]</h1>

<p>This is a Secret Claim page</p>

<p>To see this page you need:</p>
<ul>
    <li>Implements AspNetCoreIdentity.Extension.NecessessaryPermission and AspNetCoreIdentity.Extension.NecessessaryPermissionHandler</li>
    <li> Create SecretClaimWrite() in HomeController </li>
    <br />
    <li>
        <p>Startup.cs: <br />
            <b>
                options.AddPolicy("Write", policy => policy.Requirements.Add(new NecessessaryPermission("Write")));
                options.AddPolicy("Read", policy => policy.Requirements.Add(new NecessessaryPermission("Read")));
            </b>

            <b>services.AddSingleton<IAuthorizationHandler, NecessessaryPermissionHandler>();</b>
        </p>
    </li>
</ul>
