@{
    ViewData["Title"] = "Secret Claim";
}
<h1>@ViewData["Title"]</h1>

<p>This is a Secret Claim page</p>

<p>If you alter the property ClainType from dbo.AspNetUserClaims this page will be denied</p>
