@using AspNetCoreIdentity.Extension
@{
    ViewData["Title"] = "Secret Claim Custom";
}
<h1>@ViewData["Title"]</h1>

<p>This is a Secret Claim page</p>

<p>Secret!</p>
@{ 
    if (this.IfClaim("Product","Write"))
    {
    <p>You can see if you have permission</p>
    }
}

<div>
    @Html.ActionLink("SecretClaimWrite", "SecretClaimWrite").IfClaimShow(Context, "Product", "Write")
</div>


<div>
    <br />
    <a href="#" class="btn btn-danger @Html.Raw(this.IfClaimShow("Product", "Write"))">Delete</a>
</div>


